*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

li {
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
    list-style: none;
}

.thanhchon{
    position:fixed;
    top:0px;
    left: 0;
    z-index: 1000;
    min-width: auto;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    display:inline-block;
    background-color: white;
    cursor: pointer;
}

.thanhchon_logo{
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-bottom: solid 1px gray;
}
.thanhchon_logo .logo .fa-solid{
    width:50px;
    height:50px;
    position:relative;
    top: 25px;
    left:8px;
}
.thanhchon_logo .logo .logo_overflow{
    display:flex;
    transform: scale(1.5);
    position: relative;
    top:0px
   
}
.logo_overflow .stack{
    position: relative;
    top: 10px;
}
.logo .logo_overflow {
    position: relative;
    left:125px;
    margin-top: -10px;
    

}
.option{
    margin-left: 200px;
    top:-7px;
    display: flex;
    border-radius: 15px;
    width: 100%;
    height: 20px;
    font-size: 20px;
   
}
.option .luachon{
    color: gray;
    display: flex;
    margin-right: 25px;
    border-radius:10px ;
}
.luachon:hover{
    background: gainsboro;
}

.content{
   
    text-decoration: none;
    list-style: none;
    display: flex;
    position: relative;
    left: -75px;
    top:-10px;
}
.content li{
    size: 15px;
    width: 60px;
    height: 30px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 6px;
   
    align-items: center;
    text-align: center;
    line-height: 30px;
    margin-left: 40px;
    margin-top: 30px;
}
.content .logIn{
    border: 1px solid white;
    width:80px;
    height: 40px;
   
}
.logIn a{
    color: gray;
}
.logIn:hover{
    background: rgb(160, 160, 242);
}
.content .SignUp {
    color: aliceblue;
    background: #0063BF;
    width:80px;
    height: 35px;
}
.SignUp a{
    
    color: aliceblue;
}
.SignUp:hover{
    background: rgb(160, 160, 242);
}
.main{
    margin-top: 180px;
    background-color: #FFFFFF;
    font-family: 23px;
}
.Social-Impact{
    text-align: center;
    font-size: 23px;
}
.Environmental-Social{
    
    margin-top: 100px;
}
.ba-box{
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    margin-top: 30px;
    
}
#mot{
    width: 370px;
    height:170px;
    background-color: #FFF7F0;
    border-radius: 5px;
    color:gray;
    padding-top: 30px;
    padding-left: 35px;
}
#hai{
    width: 370px;
    height:170px;
    background-color: #FFF7F0;
    border-radius: 5px;
    color:gray;
    padding-top: 30px;
    padding-left: 35px;
}
#ba{
    width: 370px;
    height:170px;
    background-color: #FFF7F0;
    border-radius: 5px;
    color:gray;
    padding-top: 30px;
    padding-left: 35px;
}
.Special-Initiatives{
    margin-top: 150px;

}
.haiHop{
    margin-top: 60px;
    display:flex ;
}
.Overflow-Offline{
    width: 550px;
    height:528px;
    background-color: #3B4045;
    border-radius: 10px 0 0 5px;
    margin-left: 100px;
    margin-left: 135px;
    color: white;
    font-size: 18px;
    padding-left: 25px;
    padding-top: 5px;
}
.Stack-Gives{
    margin-top: 60px;
    display:flex ;
    box-shadow: 0 1px 8px 1px #EDEDEA;
}
.town-hop{
    width: 550px;
    height:528px;
    background-color: #fcf7f2;
    border-radius: 10px 0 0 5px;
    margin-left: 135px;
    font-size: 18px;
    padding-left: 25px;
    padding-top: 5px;
}
.Learn-more{
    width:1200px;
    height:250px;
    background-color: #F0F8FF;
    font-size: 21px;
    text-align: center;
    margin-left: 80px;
    padding-top: 60px;
    border-radius: 10px;
}
.end{
    height: 280px;
    justify-content: space-around;
    display:flex;
    margin-top: 80px;
    background-color: #232629;
    padding-top: 50px;
}
#one, #town, #three, #four{
    color: rgb(133, 131, 131);
}